$bg: #000;
$color: #fff;

* {
    padding: 0;
    margin: 0;
}

body {
    color: $color;
    background-color: $bg;

    font: {
        size: 02*2em;
        family: 'Microsoft Yahei';
    }

    &::after {
        content: ''+(10*10px)
    }
}