$bg: #fff;
$color: #fff;

* {
    margin: 0;
    padding: 0;
}


body {
    font: {
        size: 02*2em;
        family: 'Microsoft Yahei';
    }

    ;

    color: $color;
    background-color: $bg;
}

.light {
    font-size: 25px;
    display: table-cell;
    width: 100px;
    height: 100px;
    transition: background-color .5s, box-shadow .5s;
    text-align: center;
    vertical-align: middle;
    color: $color;
    border-radius: 50%;
    $colors: ('red', 'yellow', 'green');

    @each $val in $colors {
        &.#{$val} {
            background-color: #{$val};
            box-shadow: 0 0 20px 0 #{$val};
        }
    }
}